a:link, a:visited {
	text-decoration: none;
}
main>section {
	page-break-after: always;
}
section.project {
	float: none;
	clear: left;
	width: auto;
	
	padding: 1em 0 0 156px;
	position: relative;
	min-height: 156px;
	border-top: solid #e0e0e0 1px;
}
section.project > h1 {
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}
section.project > ul {
	min-height: 0;
}
section.project > div.img {
	width: 128px;
	position: absolute;
	left: 0;
	top: 1em;
}

section#profile {
	max-width: inherit;
}
section#contact {
	position: static;
	max-width: inherit;
}
